{% extends "base.html" %}
{% load forms_extras %}
{% block content %}
<h1>Ingresar</h1>
<form method="post" class="mt-3" novalidate>
  {% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    <label class="form-label">Usuario</label>
    {{ form.username|add_class:"form-control" }}
  </div>
  <div class="mb-3">
    <label class="form-label">Contraseña</label>
    {{ form.password|add_class:"form-control" }}
  </div>
  <button class="btn btn-primary">Ingresar</button>
  <a class="btn btn-link" href="{% url 'signup' %}">Crear cuenta</a>
</form>
{% endblock %}